* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
} 

body,
html {
    background-color: white;
    position: relative;
    margin: 0;
    font-size: 100%;
    padding: 0;
    min-height: 100%;
    overflow-x: hidden;
}

.font {
    font-family: 'Balsamiq Sans', cursive;
}

.headings {
    color: rgb(255,255,255);
    text-shadow: 1px 1px 1px rgba(0,0,0,.25);
}

.flex-nav {
    display: flex;
    align-items: center;
    padding: 0 50px;
    justify-content: space-between;
    width: 100%; 
    height: 105px;
    background-color: #D33A2E;
}

.nav-bar-img-1 img {
    width: 65px;
    height: auto;
}

.flex-list-item {
    display: flex;
}

.link-bckg {
    display: inline-flex;
    background-color: rgb(211,58,44);
    border-radius: 11px;
    margin-right: 20px;
}

.link-bckg:hover {
    background-color: rgb(169,46,35);
}

.nav-link {
    padding: 7.6px 14.5px;
    font-size: 21px
}

.more-bckg {
    display: inline-flex;
    background-color: rgb(169,46,35);
    border-radius: 11px;
}

.more-bckg:hover {
    background-color: rgb(150, 34, 23);
}

.more-bckg img{
    width: 31px;
    height: auto;
    margin-right: 7.25px;
}

.more-algn {
    padding: 7.6px 7.25px 7.6px 14.5px;
    font-size: 21px
}

.nav-search-bar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 11px;
    background-color: white;
    margin-left: 5px;
    /* margin-top: 5px; */
}

.nav-search-bar input {
    border-radius: 11px;
    margin-left: 10px;
    border: white;
    width: 200px;
    height: 57.6px;
}

.fa {
/* position: relative;
top: 20px; */
margin-left: 5px;
}

.container-grid-1 {
    display: grid;
    /* grid-template-columns: auto auto; */
    grid-template-columns: 50% 50%;
    grid-template-rows: 716px 716px;
}

.grid-cont-1 {
    background-color: #BC3428;
}

.grid-cont-2 {
    background-color: #C7372B;
}

.grid-cont-3 {
    background-color: #B13125;
}

.grid-cont-4 {
    background-color: #BC3428;
}

.cont-algn {
    padding: 70px;
}

.grid1-hdng {
    font-size: 45px;
}

.fa-comment-alt {
    margin: 10px 8px 0;
    color: white;

}

.grid1-comment {
    color: white;

}

.grid1-comment sup{
    vertical-align: super;
    font-size: smaller;
}